@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@media (max-width: 600px) {
body{
    font-family: 'Orbitron', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #C6FF03;
}
}
nav a {
    color: #161616;
    text-decoration: none;
    margin: 0 15px;
}
h1 {
            color: #D8F486;
            background-color: #161616;
            padding: 10px;
            border-radius: 10px;
        }
        h2 {
            color: #C6FF03;
            background-color: #161616;
            padding: 8px;
            border-radius: 10px;
        }
        h3 {
            color: #161616;
        }
p{
    color: #C6FF03;
    background-color: #20404B;
    border: 5px solid #C6FF03;
    padding: 20px;
    border-radius: 15px;
}